# In .dockerignore
# Exclude everything:
#
*

# Now un-exclude the folders or files required for nx to run inside the container
#
!.eslintrc.json
!.nvmrc
!.npmrc
!.prettierignore
!.prettierrc
!babel.config.json
!jest.config.ts
!jest.preset.js
!postcss.config.js
!tailwind.config.js
!nx.json
!**/package-lock.json
!**/package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.base.json
!workspace.json
!versions.json
!config/**/*.conf
!config/certificates/*
!config/pnpm/*
!tools/dev-scripts/*
