auto-install-peers=true
# Hoisted dependencies to resolve top level peer dependency requirements
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=@nestjs/common
public-hoist-pattern[]=@nestjs/core
public-hoist-pattern[]=stylus
public-hoist-pattern[]=react
public-hoist-pattern[]=styled-components